<% unless logged_in? %>
  <div class="jumbotron">
    <h1>Welcome to members only!</h1>
    <h2>You are a member right?</h2>

    <div class="signup_prompt">
      <%= link_to "Sign up now", signup_path, class: "btn btn-primary" %>
      <p>or <%= link_to "log in", login_path %> here.
    </div>
    
  </div>
<% end %>

<%= render @posts %>