<h1><%= @post.title %></h1>
<% if logged_in? %>
  <p>Posted by: <%= link_to @post.user.username, user_path(@post.user) %></p>
<% else %>
  <p>Posted by: Anonymous</p>
<% end %>
<p class="post_preview"><%= @post.body %></p>