@import "bootstrap-sprockets";
@import "bootstrap";

.flash {
  text-align: center;
}

.alert {
  li {
    margin-left: 15px;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}

.signup_prompt {
  margin-top: 40px;
  p { 
    font-size: 14px;
  }
}