@import "bootstrap-sprockets";
@import "bootstrap";

.flash {
  text-align: center;
}

.alert {
  li {
    margin-left: 15px;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}

.signup_prompt {
  margin-top: 40px;
  p { 
    font-size: 14px;
  }
}

// NAVBAR
.user_icon {
  &:before {
    content: "Hello ";
  }
}
.navbar-right {
  li {
    padding-right: 20px;
  }
}

// POSTS
.post_preview {
  h3, p {
    margin: 0;
  }
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background: #f8f8f8;
  margin: 10px 0 10px 0;
  padding: 10px;
}